<title>Online Job</title>
<link rel="stylesheet" href="../../../static/admin/css/bootstrap.css"/>
<link rel="stylesheet" href="../../../static/admin/css/font-awesome.css"/>
<link rel="stylesheet" href="../../../static/admin/js/morris/morris-0.4.3.min.css"/>
<link rel="stylesheet" href="../../../static/admin/css/custom-styles.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
<link rel="stylesheet" href="../../../static/admin/css/style.css"/>